body, div, ul, li, button {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
}

body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.CustomerMain {
  display: flex;
  flex-direction: column;
  width: 100vh;
  height: 100vh;
}

.CustomerNavbar {
  background-color: #3498db;
  padding: 10px;
  text-align: center;
  height: 60px;
}

.CustomerDisplayBelow {
  display: flex;
  flex: 1;
  overflow: hidden;
  height: calc(100% - 60px);
}

.CustomerSidebar {
  background-color: #0c6aa9;
  padding: 10px;
  width: 200px;
}

.CustomerContent {
  flex-grow: 1;
  padding: 10px;
  background-color: #b83c24;
}

button {
  user-select: none;
}