#root {
  width: 100%;

}

.CustomerMain {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.CustomerNavbar {
  background-color: #3498db;
  padding: 20px;
  height: 60px;
}

.CustomerDisplayBelow {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.CustomerSidebar {
  background-color: #0c6aa9;
  padding: 20px;
  width: 250px;
  align-content: space-evenly;
}

.CustomerContent {
  flex-grow: 1;
  padding: 10px;
  background-color: #b83c24;
  overflow: scroll;
}

.CustomerContent > div {
  display: flex;
  flex-wrap: wrap;
}